<div class="comment">
  <%= image_tag(gravatar_url_for(comment.email), { :width => 35, :height => 35, :class => "commentGravatar" })%>
  <p><%= comment.commenter_name %></p>
  <p><%= comment.pretty_date %> ...</p>
	<%= markdown comment.body %>

  <% if @current_user %>
	  <%= link_to 'delete comment', [@post, comment], :confirm => 'Do you want to delete this comment?', :method => 'delete' %>
  <% end %>
</div>
