<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <% if @current_user.admin? %>
  <p>
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </p>
  <% else %>
  <p>Admin: <%= @user.admin %>
  <% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
