<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Homepage:</b>
  <%=h @user.homepage %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<%= link_to 'Back', users_path %>
