<h2><%= @post.title %></h2>

<%= markdown @post.body %>

<% unless @post.tag_list.empty? %>
  <p><strong>Tags:</strong> <%= render :partial => @post.tags %></p>
<% end %>

<%= render :partial => "comments/comment", :object => @post.comments %>

<h3>Join the Discussion</h3>
<%= render :partial => "comments/comment_form", :object => @comment = Comment.new, :locals => { :button_name => 'post comment' } %>

<%= link_to 'edit post', edit_post_path %> | 
<%= link_to 'home', posts_path %>
