<h2><%= @post.title %></h2>

<%= markdown @post.body %>

<div id="postMeta">

  <%= image_tag(gravatar_url_for(@post.user.email), { :width => 40, :height => 40 }) %>

  <p>
    <%= @post.user.name %> posted this entry on <%= @post.pretty_date %> and filed it under <%= commaed_tags(@post) %>. If you want to find more entries, you can check the <%= link_to 'Archive', tags_path %> to find other entries.
    <% if @current_user %>
      <%= link_to ' Edit post', edit_post_path %>.
    <% end %>
  </p>
</div>

<% if !@post.comments.empty? %>
	<h3>Comments (<%= @post.comments.size %>)</h3>
  <%= render :partial => "comments/comment", :collection => @post.comments %>
<% else %>
  <h3>Comments - THERE ARE NONE!</h3>
<% end %>

<h3>Join the Discussion</h3>
<%= render :partial => "comments/comment_form", :object => @comment = Comment.new, :locals => { :button_name => 'post comment' } %>
