<h2><%= @post.title %></h2>

<p><%= markdown @post.body %></p>

<%= error_messages_for :comment %>

<% unless @post.comments.empty? %>
	<h3>Comments (<%= @post.comments.size %>)</h3>
	<% @post.comments.each do |comment| %>
	<p><%= markdown comment.body %></p>
	<% end %>
<% end %>

<h3>New Comment</h3>
<%= render :partial => @comment = Comment.new, :locals => { :button_name => 'post comment' } %>

<%= link_to 'edit post', edit_post_path %> | 
<%= link_to 'home', posts_path %>
