<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>The Jibber Blogging Engine - Yay!</title>
		<%= stylesheet_link_tag 'scaffold' %>
	</head>

	<body>

    <div id="header">
      <div id="loginLogout">
        <% if @current_user %>
          Hey, <%= @current_user.name %> | <%= link_to "Logout", session_path, :method => :delete %>
        <% else %>
          <%= link_to "Login", new_session_path %> | <%= link_to "Sign up now ...", new_user_path %>
        <% end %>
      </div>

      <h1><%= link_to "The Jibber Blogging Engine", root_path %></h1>

      <p>A little Ruby, a lotta Rails and a whole lot more opinion.</p>
    </div>

		<div id="content">
      <% unless flash[:notice].blank? %>
        <div id="noticeFlash"><%= flash[:notice] %></div>
      <% end %>

      <% unless flash[:error].blank? %>
        <div id="errorFlash"><%= flash[:error] %></div>
      <% end %>

			<%= yield %>
    </div>

    <div id="footer">
      <ul>
      <% if @current_user %>
        <% if @current_user.admin %>
        <li><%= link_to "create a new post", new_post_path %> | </li>
        <% end %>
      <% end %>
        <li><%= link_to "tag listing", tags_path %> | </li>
        <li><%= link_to "list current members", users_path %></li>
      </ul>
    </div>
	</body>

</html>
