<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>The Jibber Blogging Engine - Yay!</title>
		<%= stylesheet_link_tag 'scaffold' %>
	</head>

	<body>

    <div id="header">
      <div id="loginLogout">
        <% if @current_user %>
          Hey, <%= @current_user.name %> | <%= link_to "New Post", new_post_path %> | <%= link_to "Contributors", users_path %> | <%= link_to "Logout", session_path, :method => :delete %>
        <% else %>
          <%= link_to "Login", new_session_path %>, but only if you are a contributor.
        <% end %>
      </div>

      <h1><%= link_to "The Jibber Blogging Engine", root_path %></h1>

      <p>A little Ruby, a lotta Rails and a whole lot more opinion.</p>
    </div>

		<div id="content">
      <% unless flash[:notice].blank? %>
        <div id="noticeFlash"><%= flash[:notice] %></div>
      <% end %>

      <% unless flash[:error].blank? %>
        <div id="errorFlash"><%= flash[:error] %></div>
      <% end %>

			<%= yield %>

      <p id="tagLink">If you still haven't found what you are looking for, why not check out the <%= link_to "Archive", tags_path %> and look around for more articles? When you get there, everything is broken down into individual tags to make it easier to navigate through.</p>
    </div>

    <div id="footer">
    </div>
	</body>

</html>
