<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>The Jibber Blogging Engine - Yay!</title>
		<%= stylesheet_link_tag 'scaffold' %>
	</head>

	<body>
    <div id="pageWrapper">
      <div id="loginLogout">
        <% if @current_user %>
          Welcome back, <%= @current_user.name %>
          <em><%= link_to "(Logout)", session_path, :method => :delete %></em>
        <% else %>
          <em><%= link_to "Login Now", new_session_path %> or <%= link_to "Register?", new_user_path %></em>
        <% end %>
      </div>

			<div id="contentWrapper">
        <h1><%= link_to "The Jibber Blogging Engine", root_path %></h1>
        
        <% unless flash[:notice].blank? %>
          <div id="noticeFlash"><%= flash[:notice] %></div>
        <% end %>

        <% unless flash[:error].blank? %>
          <div id="errorFlash"><%= flash[:error] %></div>
        <% end %>

			  <%= yield %>
      </div>

      <div id="footerWrapper">
        <ul>
        <% if @current_user %>
          <% if @current_user.admin %>
          <li><%= link_to "create a new post", new_post_path %></li>
          <% end %>
        <% end %>
          <li><%= link_to "tag listing", tags_path %></li>
          <li><%= link_to "list current members", users_path %></li>
        </ul>
      </div>
		</div>
	</body>

</html>
